# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

.gems

# Fonts
web/app/themes/typeforce/assets/fonts/*
config/.DS_Store
.DS_Store
web/app/themes/brian-thompson/assets/fonts/btfmonov6-regular-webfont.eot
web/app/themes/brian-thompson/assets/fonts/btfmonov6-regular-webfont.svg
web/app/themes/brian-thompson/assets/fonts/btfmonov6-regular-webfont.ttf
web/app/themes/brian-thompson/assets/fonts/btfmonov6-regular-webfont.woff
web/app/themes/brian-thompson/assets/fonts/btfmonov6-regular-webfont.woff2
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_bold-webfont.eot
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_bold-webfont.ttf
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_bold-webfont.woff
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_bold-webfont.woff2
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_bold_italic-webfont.eot
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_bold_italic-webfont.ttf
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_bold_italic-webfont.woff
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_bold_italic-webfont.woff2
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_italic-webfont.eot
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_italic-webfont.ttf
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_italic-webfont.woff
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_italic-webfont.woff2
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_mono-webfont.eot
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_mono-webfont.ttf
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_mono-webfont.woff
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_mono-webfont.woff2
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_regular-webfont.eot
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_regular-webfont.ttf
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_regular-webfont.woff
web/app/themes/brian-thompson/assets/fonts/nb_international_pro_regular-webfont.woff2
log/capistrano.log