// Archive Pages


.blog {
  .page-header {
    @extend .sr-only;
  }
}

.blog, .archive {

  .category-nav {
    position: absolute; 
    left: 125%;
    width: 50%;
    padding: 0 $teensy-pad;
    z-index: $z-category-nav;
    ul.categories {
      @include double-dash(25px,10px);
      list-style: none;
      li {      
        @include small-mono;
        margin: 0;
      }
    }
  }


  .columns-wrap .columns-item { 
    max-width: none;
  }

  .archive-listing {
    width: 100%;
    // padding-bottom: 25px;
    h2 {
      margin-bottom: $lh/2; 
      padding-right: $lh;
    }

    .summary {
      @include dash-before($lh);
      padding-right: $lh;
      @include word-break;
    }

    .meta p {
      @include small-mono;
      margin-bottom: $lh/2
    }
  }

  .read-more {
    // position: absolute;
    // bottom: 0;
    &:hover {
      text-decoration: none;
    }
    button {
      position: absolute;
      padding: 0 $lh/4;
      @include small-nb-mono;
      top: -2px;
      left: -$teensy-pad;
      @include arrow-right(25px);
      max-height: 25px;
      display: block;
      margin-top: $lh/4;
    }
  } 

  ul.posts {
    margin-bottom: 0;
  }

  .load-more{
    @include dash-before($lh*1.25);
    @include small-nb-mono;
    width: $col + $teensy-pad * 2;
    left: -$teensy-pad * 2;
    padding: 0;
    margin-top: $lh/4;
    margin-bottom: $lh;
    @include arrow-right(25px);
    max-height: 25px;
    &:before{
      left: 1px;
    }
    @include media-huge {
      width: $col-huge;
    }
  }
}