// Archive Pages


.blog {
  .page-header {
    @extend .sr-only;
  }
}

.blog, .archive, .search-results {

  .category-nav {
    position: relative;
    width: 100%;
    margin-bottom: 2*$lh;
    @include screen(420px,629px) {
      ul {
        display: flex;
        flex-wrap: wrap;
        width: 4*$col;
      }
      li {
        flex-basis: 2*$col;
      }
    }
    @include min-screen(630px) {
      position: absolute; 
      left: 4 * $col;
      width: 130px;
      padding: 0 $teensy-pad;
      z-index: $z-category-nav;
    }
    @include min-screen(830px) {
      left: 5 * $col;
    }
    @include screen(900px,930px) {
      left: 4 * $col;
    }
    @include media-huge {

      left: 5 * $col-huge;
    }
    ul.categories {
      @include double-dash(25px,10px);
      list-style: none;
      li {      
        @include small-mono;
        margin: 0;
      }
    }
  }


  .columns-wrap .columns-item { 
    max-width: none;
  }

  .archive-listing {
    width: 100%;
    // padding-bottom: 25px;
    h2 {
      margin-bottom: $lh*.5; 
      padding-right: $lh;
    }

    .summary {
      @include dash-before($lh+1px);
      padding-right: $lh;
      @include word-break;
    }

    .meta p {
      @include small-mono;
      margin-bottom: $lh*.75;
    }
  }

  .read-more {
    &:hover {
      text-decoration: none;
    }
    button {
      position: absolute;
      padding: 0 $lh/4;
      @include smaller-mono;
      top: -2px;
      left: -$teensy-pad+1px;
      max-height: 25px;
      display: block;
      margin-top: $lh/4;
      border-radius: 0;
    }
  } 

  ul.posts {
    margin-bottom: 0;
  }

  .load-more{
    @include dash-before($lh*1.25);
    @include smaller-mono;
    width: $col + $teensy-pad * 2;
    left: -$teensy-pad * 2;
    padding: 0;
    margin-top: $lh*1.25;
    margin-bottom: $lh;
    max-height: 25px;
    &:before{
      left: 1px;
    }
    @include media-huge {
      width: $col-huge;
    }
  }
}