// Home
.home.page {
  .page-header {
    @extend .sr-only;
  }
  .body-wrap#primary-site-content {
    position: relative;
    padding-top: 6 * $lh;
    h1 {
      @include enormous-title;
      width: 6 * $col;
      @include media-huge {
        width: 6 * $col-huge
      }
    }
    height: 1600px;
  }

  .section {
    h2:before, h2:after {
      display: none;
    }
    &.-one {
      position: relative;
    }
    &.-two {
      position: absolute;
      top: 665px;
      left: 4 * $col;
      @include media-huge {
        left: 4 * $col-huge;
      }
      .wrap {
        padding: 0 $teensy-pad;
        width: 2 * $col;
        @include media-huge {
          width: 2 * $col-huge;
        }
      }

    }
    &.-three {
      // position: absolute;
      margin-top: 585px - $lh/2;
      .wrap {
        width: 3 * $col;
        @include media-huge {
          width: 3 * $col-huge;
        }
      }
    }
  }
  .inline-image {
    position: absolute;
    &.-one {
      top: 50px;
      left: -100%;
      width: 5 * $col;
      height: 5 * $col * 1.28333;
    }
    &.-two {
      top: 625px;
      left: -$col;
    }
    &.-three {
      top: 868px;
      left: 6 * $col;
    }
    &.-four {
      top: 1180px;
      left: 3 * $col;
    }
  }

  .recent-posts {
    position: absolute;
    top: 935px;
    left: 5 * $col;
  }

  .lets-start {
    position: fixed;
    top: 0;
    left: 9 * $col - 1px;
    width: 5px;
    height: 100%;
    z-index: $z-lets-start;
    @include media-huge {
      left: calc( 9 * #{$col-huge} - 1px);
    }
    button.start-button {
      @include small-mono;
      @include arrow-right(70px);
      border-radius: 0;
      position: absolute;
      top: 35%; 
      left: 100%;
      width: 50px;
    }
  }
}

