// Home
.home.page {
  .page-header {
    @extend .sr-only;
  }
  .body-wrap#primary-site-content {
    position: relative;
    height: auto;
    max-width: 3 * $col;
      padding-top: 275px;
    @include media-md {
      padding-top: 6 * $lh;
      max-width: none;
    }
    @include min-screen(1000px) {
      height: 1600px;
    }
    h1 {
      @include enormous-title;
      @include min-screen(1000px) {
        width: 6 * $col;
        &:before, &:after {
          top: 85px;
        }
      }
    }
  }

  .section {
    h1{
      &:before{
        left: -$col;
      }
    }
    @include media-md {
      &.-one {
        position: relative;
      }
      &.-two, &.-three {
        @include dash-before(2*$lh);
        &:before {
          font-size: 48px;
        }
      }
      &.-two {
        position: absolute;
        top: 425px;
        left: 2 * $col;
        @include min-screen(1000px){
          left: 4 * $col;
          top: 665px;
        }
        @include media-huge {
          left: 4 * $col-huge;
        }
        h2 {
          @include media-md { // Hacked af
            &:before{
              left: -3 * $col - $teensy-pad - 2px;
            }
            &:after {
              left: 5 * $col - $teensy-pad - 2px;
            }
          }
          @include min-screen(1000px){
            &:before{
              left: -5 * $col - $teensy-pad - 2px;
              @include media-huge {
                left: calc( -5 * #{$col-huge} - #{$teensy-pad} - 2px );
              }
            }
            &:after {
              left: 3 * $col - $teensy-pad - 2px;
              @include media-huge {
                left: calc( 3 * #{$col-huge} - #{$teensy-pad} - 2px );
              }
            }
          }
        }
        .wrap {
          padding: 0 $teensy-pad;
          width: 2 * $col;
          @include media-huge {
            width: 2 * $col-huge;
          }
        }
        &:before {
          left: -4px;
        }
      }
      &.-three {
        margin-top: 770px - $lh/2;
        @include min-screen(1000px) {
          margin-top: 585px - $lh/2;
        }
        .wrap {
          width: 2 * $col - $teensy-pad * 2;;
          @include min-screen(1000px) {
            width: 3 * $col - $teensy-pad * 2;
          }
          @include media-huge {
            width: (3 * #{$col-huge} - #{$teensy-pad} * 2);
          }
        }
      }
    }
  }

  .inline-image {
    position: absolute;
    &:not(.mobile-image) {
      display: none;
      @include media-md { 
        display: block;
      }
    }
    &.-one {
      top: 50px;
      left: -100%;
      width: 5 * $col;
      height: 5 * $col * 1.28333;
      @include media-lg { 
        top: 80px; 
      }
      @include media-huge {
        width: 5 * $col-huge;
        height: 5 * $col-huge * 1.28333;
      }
    }
    &.-two {
      top: 625px;
      left: -$col;
      @include media-huge {
        left: -$col-huge;
      }
    }
    &.-three {
      top: 1025px;
      left: 2 * $col;
      @include min-screen(1000px) {
        left: 6 * $col;
        top: 868px;
      }
      @include media-huge {
        left: 6 * $col-huge;
      }
    }
    &.-four {
      left: -$col;
      top: 1285px;
      @include min-screen(1000px) {
        left: 3 * $col;
      top: 1180px;
      }
      @include media-huge {
        left: 3 * $col-huge;
      }
    }
  }

  .recent-posts {
    width: 100%;
    position: relative;
    left: -$teensy-pad;
    @include media-md {
      width: $col;
      margin-top: 285px;
      left: 4 * $col - $teensy-pad;

    }
    @include min-screen(1000px){
      position: absolute;
      margin-top: 0;
      top: 935px;  
      left: 5 * $col;
    }
    @include media-huge {
      left: 5 * $col-huge;
    }
    h4 {
      @include big-title;
      margin-top: 2*$lh;
      @include media-md {
        @include small-mono;
      }
    }
  }

  .start-line,.start-button {
    z-index: $z-lets-start;
    left: 1*$col;
    @include media-sm {
      left: calc( (100% - 4 * #{$col})/2 + 3 * #{$col} );
    }
    @include min-screen(600px) {
      left: calc( (100% - 4 * #{$col})/2 + 4 * #{$col} );
    }
    @include media-md {
      left: 6 * $col - 1px;
    }
    @include min-screen(800px) {
      left: 7 * $col - 1px;
    }
    @include media-lg {
      left: 8 * $col - 1px;
    }
    @include min-screen(1000px) {
      left: 9 * $col - 1px;
    }
    @include media-huge {
      left: calc( 9 * #{$col-huge} - 1px);
    }
  }

  .start-line {
    position: fixed;
    display: none;
    top: 0;
    width: 5px;
    height: 100%;
    @include media-sm {
      display: block;
    }
  }

  .start-button {
    @include small-mono;
    position: relative;
    @include media-sm{
      margin-left: 5px;
      position: fixed;
      border-radius: 0;
      top: 35%; 
      width: 50px;
    }
  }

}

