// Pages

.process, .about, .services, .contact {
  .page-header {
    @extend .sr-only
  }
}

.process {
  ul.steps {
    list-style: none;
    margin-top: $lh * 1.5;
  }
  li.step {
    min-height: 8 * $lh;
    max-width: 2 * $col;
    @include media-huge{ max-width: 2 * $col-huge; }
  }
  .popup {
    .body-wrap {
      padding-top: $lh * 6;
    }
    h2 {
      &:before, &:after {
        display: none;
      }
    }
    h3 {
      max-width: 50%;
      min-width: 2 * $col;
    }
  }
}

.about {
  .site-main {
    p:first-of-type {
      margin-bottom: $lh * 2.5;
    }
  }
  .bio-button {
    @include arrow-right(25px);
    @include small-mono;
    width: $col + 5px;
    position: relative;
    left: -5px;
    @include media-huge {
      width: calc(#{$col-huge} + 5px);
    }
  }
}

.services {
  ul.services {
    list-style: none;
    margin-top: $lh * 1.5;
  }
  .popup {
    h2 {
      margin-bottom: 0.25 * $lh;
      &:before, &:after {
        display: none;
      }
    }
    ul.pricetags {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      width: 100%;
      margin-top: 1.25*$lh;
      @include break-out-of-padding($teensy-pad,$teensy-pad);
    }

    .-number-0, .-number-1 {
      li.pricetag:first-of-type {
        background: $white;
        p, p:before {
          color: $blue;
        }
      }
    }
    li.pricetag {
      // margin-left: auto;
      // padding: 2*$lh 0;
      flex-basis: $col;
      @include media-huge {
        flex-basis: $col-huge;
      }
      text-align: center;
      top: 0;
      padding-top: 1.75*$lh;
      padding-bottom: 2.25*$lh;
      margin-bottom: 0;
      &.pricing-note {
        position: relative;
        text-align: left;
        vertical-align: bottom;
        p {
          margin: 0;
          max-width: none;
        }
        .wrap {
          position: absolute;
          bottom: 2.25*$lh;
          padding: 0 $lh/4;
        }
      }
      p {
        @include small-copy;
        max-width: 75px;
        margin: auto;
      }
      .item {
        margin-bottom: $lh * 1.25;
      }
      .cost {
        top: -$teensy-pad;
        margin-bottom: 0;
        @include font-mono;
        font-size: 25px;
        line-height: 25px;
        max-width: none;
        @include dash-before($lh*1.25);
        &:before {
          text-align: center;
          width: 100%;
        }
      }
      .unit {
        margin-top: 0;
        margin-bottom: $lh * .75;
      }
    }
  }
}

.appointments {
  iframe{
    width: 100%;
    border: 1px solid $black;
    height: 70vh;
    min-height: 380px;
    margin-bottom: 2*$lh;
  }
}

.contact {
  .form-wrap {
    padding-bottom: $lh * 4.25;
    margin-bottom: $lh * 4;
  }
}

.portals {
  .portal {
    position: relative;
    padding-bottom: 65px;
    img {
      width: auto;
    }
    p.description {
      @include dash-before($lh/2);
    }

    .login-wrap, {
      width: calc(100% - 10px);
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .login {
      float: right;
    }
  }
}