// Podcast Landing Page

.page.podcast,
.single-podcast {
  .page-header {
    h1 {
      &::after {
        display: none;
      }
    }
  }

  .podcast-page-thumbnail {

    .page-thumbnail {
      display: none;
    }

    @include media-md {
      top: 118px;
      z-index: 1;
      left: 4 * $col;
      width: 2 * $col;
      position: absolute;

      .inline-image {
        height: 375px;
        width: 2 * $col;
      }

      .page-thumbnail {
        display: block;
        margin-bottom: 40px;
      }
    }
    @include min-screen(1000px) {
      left: 5 * $col;
    }
    @include min-screen(1120px) {
      width: 3 * $col;

      .inline-image {
        width: 3 * $col;
      }
    }
  }

  .posts,
  .recent-posts {
    list-style: none;

    article {
      color: $black;
      display: flex;
      cursor: pointer;
      background-color: $true-white;
      &:hover,
      &:focus {
        &::before {
          left: 0;
          content: '';
          height: 5px;
          width: 100%;
          bottom: 100%;
          position: absolute;
          background: $black;
        }
      }

      .header-image {
        min-width: $col * 1.5;
        flex-basis: $col * 1.5;
        img {
          margin: 0;
          left: auto;
          width: 100%;
          display: block;
        }
      }

      .header-text {
        display: block;
        padding: 10px 16px 0;

        .meta p {
          margin: 0;
        }
      }
    }

    .title {
      @include copy;
      margin: 2px 0;
      &::before,
      &::after {
        display: none;
      }

      a {
        color: $black;
      }
    }

    .summary::before {
      display: none;
    }
  }
}

// Blue Color Scheme
body.blue-color-scheme {
  &.podcast,
  &.single-podcast {
    .posts,
    .recent-posts {
      article {
        border: 1px solid $white;

        &:hover,
        &:focus {
          &::before {
            margin-bottom: -1px;
          }
        }
      }
    }
  }

  &.podcast {
    .site-main h4 {
      color: $white;
    }

    .posts article {
      @include media-sm {
        height: 1.75 * $col + 2;
      }
      @include media-md {
        height: auto;
      }
    }
  }

  &.single-podcast {
    .page-thumbnail .-portrait {
      border: 1px solid $white;
    }
  }
}

// Podcast Landing Page
.page.podcast {
  .button-container {
    margin: 38px 0 86px;
    a {
      @include small-mono;
      margin-right: 20px;
      &:first-of-type {
        margin-left: -5px;
      }
    }
  }

  .site-main h4 {
    @include copy;
    color: $black;
    position: relative;
    &::before {
      left: -5px;
      content: '';
      width: $col;
      height: 5px;
      display: block;
      position: relative;
      margin-bottom: 20px;
      background-color: $black;
    }
    &::after {
      @include dot;
      top: 30px;
      left: -1 * $col - $teensy-pad - 2px;
      @include media-huge {
        left: calc( -1 * #{$col-huge} - #{$teensy-pad} - 2px );
      }
    }
  }

  .newsletter-card-container.mobile-only {
    left: -5px;
    position: relative;
    width: calc(100% + 10px);
  }

  .posts {
    margin-top: 40px;
    margin-left: -5px;
    width: calc(100% + 10px);

    article {
      .title {
        font-size: 15px;
        line-height: 18px;
      }

      .summary {
        display: none;

        p {
          margin: 0;
          overflow : hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }

    @include media-sm {
      article {
        height: 1.75 * $col;

        .header-image {
          min-width: 1.75 * $col;
          flex-basis: 1.75 * $col;
        }

        .title {
          font-size: 18px;
          line-height: 21px;
        }

        .summary {
          display: block;

          p {
            -webkit-line-clamp: 3;
          }
        }
      }
    }

    @include media-md {
      width: 5 * $col;

      article {
        height: auto;

        .header-image {
          min-width: 1.5 * $col;
          flex-basis: 1.5 * $col;
        }

        .title {
          font-size: 20px;
          line-height: 22px;
        }

        .summary p {
          -webkit-line-clamp: 3;
        }
      }
    }
    @include min-screen(1000px) {
      width: 6 * $col;
    }
  }
}

// Single Podcaset Page
.single.single-podcast {
  .body-wrap#primary-site-content {
    padding-top: calc(100vw + 18px);

    @include media-md {
      padding-top: 120px;
    }
  }

  .mobile-image {
    top: 50px;
    height: 100vw;
  }

  .site-main > article {

    header {
      .link-to-archive {
        @include small-mono;
      }
    }

    h1 {
      @include word-break;
    }

    aside {
      h4 {
        @include copy;
        color: $black;
        margin: 0 0 46px;
        position: relative;
        &::before {
          left: -5px;
          content: '';
          width: $col;
          height: 5px;
          display: block;
          position: relative;
          margin-bottom: 20px;
          background-color: $black;
        }
        &::after {
          display: none;
        }
      }
    }

    .entry-content {
      margin-top: 30px;
    }

    @include media-md {
      left: -5px;
      display: flex;
      position: relative;
      width: calc(100% + 10px);

      .main-column {
        padding: 0 5px;
        max-width: 4 * $col;
        flex-basis: 4 * $col;
      }
      aside {
        margin-bottom: $col;
        max-width: 2 * $col;
        flex-basis: 2 * $col;

        h4::before {
          left: 0;
        }
      }
    }

    @include min-screen(1000px) {
      aside {
        margin-left: $col;
        max-width: 3 * $col;
        flex-basis: 3 * $col;
      }
    }
  }

  // Audio Player
  .mejs-audio {
    .mejs-controls {
      // background: $true-white;
    }
  }

  .page-thumbnail {
    .-portrait {
      height: 300px;

      @include min-screen(1000px) {
        height: 300px;
      }
    }
  }

  .recent-posts {
    padding: 0;
    margin-top: 40px;

    .posts {
      left: -5px;
      position: relative;
      margin-bottom: 40px;
      width: calc(100% + 10px);
    }

    .post {
      margin-bottom: 20px;
    }

    article {
      .header-image {
        min-width: $col;
        flex-basis: $col;
      }

      .header-text {
        padding-left: 11px;
      }

      .title {
        font-size: 14px;
        line-height: 19px;
      }
    }

    @include media-md {
      left: auto;
      width: #{$col * 3};

      .posts {
        left: auto;
        width: 100%;
      }
    }
  }

  .newsletter-card {
    left: -5px;
    position: relative;
    width: calc(100% + 10px);
  }

  @include media-md {
    .body-wrap#primary-site-content {
      width: $col * 8;

      h1::after {
        display: none;
      }
    }

    header {
      display: grid;
    }

    .entry-meta .date {
      top: 25px;
    }

    .page-thumbnail {
      position: relative;
    }

    .newsletter-card {
      left: auto;
      width: 3 * $col;
    }
  }
}