// Process page

.process {
  .page-header {
    @extend .sr-only
  }
  ul.steps {
    list-style: none;
    margin-top: $lh * 1.5;
  }
  li.step {
    min-height: 8 * $lh;
  }
}

.revealed-content {
  h2 {
    &:before, &:after {
      display: none;
    }
  }
  h3 {
    max-width: 50%;
    margin-bottom: 0.25 * $lh;
  }
  .description {
    @include dash-before($lh*1.5);
  }
  .next-content {
    @include small-mono;
    @include arrow-right(57px);
    position: absolute;
    top: -$lh/4;
    left: calc( 100% + 5px );
    width: 25%;
  }
  .close {
    border: none;
    background: transparent;
    @include big-title;
    position: absolute;
    top: -$lh/2;
    right: 0;
    &:before {
      content: 'Close';
      @include small-mono;
      position: absolute;
      top: $lh/2 - 2px;;
      right: 100%;
    }
  }
}