// Single Posts

.single-post {

  .entry-meta {
    p {
      @include small-mono;
    }
    .date {
      @include no-word-break;
      @include media-md {
        position: absolute;
        top: 25px;
        right: calc( 100% + #{$teensy-pad} );
      }
    }
    .category {
      position: relative;
    }
  }

  .entry-content {
    @include double-dash(25px,15px);
  }

  .nav-posts{
    position: fixed;
    width: 100%;
    top: 50vh;
    left: 0;
    z-index: $z-post-nav;
  }

  .next-post, .prev-post {
    @include font-mono;
    color: $blue;
    z-index: 100;
    padding: 15px;
    background: $white;

    display: none;
    transform: translateY(-50%);
    @include media-md {
      display: block;
    }
    .wrap {
      max-width: 35px;
    }
  }
  .next-post {
    @include arrow-right(70px);
    position: absolute;
    left: 6.5 * $col - 5px;
    @include min-screen(800px) {
      left: 7 * $col - 5px;
    }
    @include media-lg {
      left: 8 * $col - 5px;
    }
    @include media-huge {
      left: calc( 8 * #{$col-huge} - 5px );
    }
  }
  .prev-post {
    @include arrow-left(70px);
    position: absolute;
    right: calc( 100% - ( 1.5 * #{$col} + 5px ) );
    @include min-screen(800px) {
      right: calc( 100% - (  1 * #{$col} + 5px ) );
    }
    @include media-lg {
      right: calc( 100% - (  2 * #{$col} + 5px ) );
    }
    @include media-huge {
      right: calc( 100% - (  2 * #{$col-huge} + 5px ) );
    }
  }

  .recent-posts {
    position: absolute;
    top: calc(50vh + 100px); //390px;
    left: 5*$col;
  }
}