// Single Posts

.single-post {

  .entry-meta {
    p {
      @include small-mono;
    }
    .date {
      position: absolute;
      top: 25px;
      right: calc( 100% + 3px );
    }
    .category {
      position: relative;
    }
  }

  .entry-content {
    @include double-dash(25px,15px);
  }

  .nav-posts{
    position: fixed;
    width: 100%;
    top: 50vh;
    left: 0;
    z-index: $z-post-nav;
  }

  .next-post, .prev-post {
    color: $blue;
    z-index: 100;
    @include font-mono;
    padding: 15px;
    background: $white;
    transform: translateY(-50%);
    .wrap {
      max-width: 35px;
    }
  }
  .next-post {
    left: calc( 100% - 5px );
    @include arrow-right(70px);
    position: absolute;
  }
  .prev-post {
    right: calc( 120% - 5px );
    @include arrow-left(70px);
    position: absolute;
  }

}