// Single Posts

.single-post {

  .entry-meta {
    p {
      @include small-mono;
    }
    .date {
      position: absolute;
      top: 25px;
      right: calc( 100% + 3px );
    }
    .category {
      position: relative;
      a { text-decoration: underline; }
      &:after {
        @include dash;
        bottom: -15px;
        left: 3px;
      }
    }
  }

  .entry-content {
    position: relative;
    &:before {
      @include dot;
      top: -( $lh * 1.25 );
      right: calc( 125% - 2px );
    }
  }
  article {

  }

  .nav-posts{
    position: fixed;
    width: 100%;
    top: 50vh;
    left: 0;
    z-index: $z-brand;
  }

  .next-post, .prev-post {
    color: $blue;
    z-index: 100;
    @include font-mono;
    .arrow-wrap {
      max-width: 50px
    }
    background: $white;
    transform: translateY(-50%);
  }
  .next-post {
    left: calc( 100% - 2px );
    @include arrow-right(70px);
    position: absolute;
  }
  .prev-post {
    right: calc( 100% - 2px );
    @include arrow-left(70px);
    position: absolute;
  }

}