// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

@mixin body-color-scheme ($text,$line,$bg,$highlight) { // Scheme Template
  color: $text;
  background: $bg;
  // .ajax-swap {
  //   background: $bg;
  // }
  .line {
    background: $line;
  }
  .site-nav-wrap {
    background: $bg;
    background: linear-gradient(rgba($bg,1), rgba($bg,1) 97%, rgba($bg,0));
  }
  .site-nav {
    a {
      color: $text;
      &:before {
        background: $black;
      }
    }
  }
  article:before, article:after {
    background: $text;
  }
  h1 {
    color: $highlight;
    &:before{
      background: $black;
    }
  }
  hr {
    background: $text;
  }
  a {
    color: $highlight;
  }
  .btf-logo {
    fill: $text;
  }

}

body {
  overflow-x: hidden;
  &.white-color-scheme {
     @include body-color-scheme($black, $gray, $near-white, $blue);
  }
  &.blue-color-scheme {
    @include body-color-scheme($near-white, $lite-blue, $blue, $black);
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  display: none;
  max-width: 100%;
  height: auto;
}


hr {
  margin-top: ( $lh * 1.5 );
  margin-bottom: ( $lh * 1.5 ) - 1px;
  border: 0;
  height: 1px;
}

// Browser alert
.alert-warning {
  top: 0;
  left: 0;
  right: 0;
  color: $black;
  padding: 50px;
  text-align: center;
  background: $brand-primary;
}
.alert {
  padding: 50px;
  background: #fff;
}

// Disable scrolling when modals are active
.no-scroll {
  overflow: hidden;
}

// Utility classes
.hide {
  display: none;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  @include clearfix();
  @include media-md {
  }
}

// Main Area
.body-wrap {
  position: relative;
  margin-top: $lh * 6;
  width: $col-inwrap * 4;

  h1,h2,h3,h4,h5,h6,p,ul,ol,blockquote {
    margin-top: 0;
    }

  h1 {
    @include big-title;
    margin-bottom: ( $lh * 2 ) - 15px; //Desired margin - amount of blank space already following the text within the line-height
    &:before{
      @include dot;
      top: 40px;
      right: calc(125% - 2px);
    }
  }
  h2,h3,h4,h5,h6 {
    @include small-title;
    margin-bottom: ($lh * 1.5) - 5px; //Desired margin - amount of blank space already following the text within the line-height
  }
  p,blockquote, li {
    @include copy;
    margin-bottom: ($lh * 1.5) - 10px; //Desired margin - amount of blank space already following the text within the line-height
  }

  .small-mono {
    @include small-mono;
  }

  h1,h2,h3,h4,h5,h6,p,li {
    padding: 0 3px;
  }

  img {
    margin: $lh 0;
  }
  p img {
    position: relative;
    top: -2px;
  }

  ul {
    padding-left: 0;
  }
  ol {
    counter-reset: list-num;
    padding-left: 0;
    list-style: none;
    li {
      counter-increment: list-num;
      &:before {
        content: counter(list-num)' .';
        position: absolute;
        left: -20px;
      }
    }
  }


}
