// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
  position: relative;
}

body {
  font-size: 12px;
  letter-spacing: 0.02em;
  overflow: hidden;
  line-height: $lh;
  height: 100%;
  @include font-regular;
}

a {
  text-decoration: none;
  transition: color 0.2s, background 0.2s;
}

hr {
  margin-top: ( $lh * 1.5 );
  margin-bottom: ( $lh * 1.5 ) - 1px;
  border: 0;
  height: 1px;
}

// Browser alert
.alert-warning {
  top: 0;
  left: 0;
  right: 0;
  color: $black;
  padding: 50px;
  text-align: center;
  background: $brand-primary;
}
.alert {
  padding: 50px;
  background: #fff;
}

// Disable scrolling when modals are active
.no-scroll {
  overflow: hidden;
}

// Utility classes
.hide {
  display: none;
}
.-hidden {
  visibility: hidden;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  @include clearfix();
}


// Main Area
.body-wrap {
  width: calc(100% - 20px);
  margin-left: 10px;
  position: relative;
  padding: $lh*6 $teensy-pad $lh*5;
  @include media-tiny {
    width: 3 * $col;
    margin-left: calc((100% - 3 * #{$col})/2 );
  }
  @include media-sm {
    width: 4 * $col;
    margin-left: calc((100% - 4 * #{$col})/2 );
  }
  @include media-md {
    margin-left: $col * 2;
    padding: $lh*6 $teensy-pad $lh*2;
  }
  @include media-lg {
    margin-left: $col * 3;
  }
  @include media-huge {
    margin-left: $col-huge * 3;
    width: 4 * $col-huge;
  }

  &#primary-site-content {
    padding: 285px $teensy-pad 320px;
    @include media-md {
      padding: $lh*6 $teensy-pad $lh*2;
    }
  }

  h1,h2,h3,h4,h5,h6,p,ul,ol,blockquote {
    margin-top: 0;
  }

  h1, .big-title {
    @include big-title;
    @include first-line-dots(30px);
    @include media-md {
      @include first-line-dots(40px);
    }
  }
  h2,h3 {
    @include small-title;
    margin-bottom: $lh/4;
  }
  h2 {
    @include first-line-dots(10px);
  }
  h4,h5,h6  {
    @include small-mono;
  }
  p, li, figcaption {
    @include copy;
  }

  // Lists
  ul {
    padding-left: 0;
  }
  ol {
    counter-reset: list-num;
    padding-left: 0;
    list-style: none;
    li {
      counter-increment: list-num;
      &:before {
        content: counter(list-num)' .';
        position: absolute;
        left: -$lh;
      }
    }
  }

}
