#breakpoint-indicator{ // We can use this to tell JS which breakpoint we are on! Nifty!
  display: none;
  &::after {
    @include media-nano {
      content: 'nano';
    }
    @include media-tiny {
      content: 'tiny';
    }
    @include media-sm {
      content: 'small';
    }
    @include media-md {
      content: 'medium';
    }
    @include media-lg {
      content: 'large';
    }
    @include media-huge {
      content: 'huge';
    }
  }
}