// BTT Mods

// Nav
.nav {
  button {
    padding: 0;
    border: none;
    text-align: left;
    background: none;
    max-width: 100px;
    &:hover {
      text-decoration: underline;
    }
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 0;
    }
  }
}
// The mobile nav (in a popup)
.popup #menu-main-menu.popup-nav {
  margin-top: -2px;

  li:not(.menu-item-has-children) {
    margin: 0;
  }
  
  button {
    text-decoration: none;
    border-bottom: 0;
    padding: $lh*.75 0;
    &::before{
      top: auto;
      left: auto;
      @include font-regular;
      font-size: 12px;
      content: '>';
      position: absolute;
      right: calc(100% + #{$teensy-pad});
    }
    &:hover {
      text-decoration: underline;
      &:before{
        right: calc(100% + 1px);
      }
    }
  }
}

.home.page {
  .site-main {
    button.arrow {
      margin-left: -10px;
      margin-bottom: $lh;
      @include small-mono;
      &.-small {
        padding: 2px 10px 6px;
      }
    }
  }

  .section {
    &.-four {
      @include media-md {
        margin-top: 180px;
        margin-bottom: 180px;
        @include dash-after($lh);
      }

      .wrap {
        width: 2 * $col - $teensy-pad * 2;;
        @include min-screen(1000px) {
          width: 3 * $col - $teensy-pad * 2;
        }
        @include media-huge {
          width: (3 * #{$col-huge} - #{$teensy-pad} * 2);
        }
      }
    }
  }
}

// Modal Page Content
.popup-pages {
  // display: none;
}

// Change the transform-origin of the blinds
.blind {
  transform-origin: left;
}

// Modal Page styles
.popup {

  &:not(#aboutPopup) {  
    h1, h2 {
      @include big-title;
    }
  }

  button.arrow {
    @include small-mono;

    &.-right {
    }

    &.popup-pagination {
      right: 28px;
      top: auto;
      bottom: 0;
      height: 57px;
      position: absolute;
      text-transform: capitalize;

      @include media-md {
        top: 100px;
        right: -$col;
        bottom: auto;
      }

      @include media-huge {
        right: -$col-huge;
      }

      .arrowhead {
        left: calc(100% - 4px);
      }
    }
  }

  &#aboutPopup {
    .body-wrap {
      padding-top: 0;
    }

    .biopick {
      opacity: 1;
      position: relative;
      left: -$teensy-pad;
      width: 2*$col;
      height: 2*$col * 5/4;
      background-size: cover;
      background-position: center center;
      @include media-huge {
        width: 2*$col-huge;
        height: 2*$col-huge * 5/4;
      }
    }

    h2 {
      margin-top: 2*$lh;
    }
  }

  // Services
  &#servicesPopup {
    .body-wrap {

      h1 {
        font-size: 30px;
        margin-top: 1em;
        margin-bottom: 0;
        &:first-of-type {
          margin-top: 0;
        }

        @include media-md {
          font-size: 48px;
        }
      }

      h3 {
        @include small-title;
      }

      p + ul {
        margin-top: -$lh;
      }

      ul {
        li {
          margin-bottom: 0;
        }
      }

    }
  }

  // Appointments/ Contact
  &#appointmentsPopup,
  &#contactPopup,
  &#sign-upPopup {
    .lines {
      display: none !important;
    }
    .blind {
      background: $true-white;
    }

    .body-wrap {
      h2, h3, p {
        color: $black;
      }

      a {
        color: $black;
        text-decoration: none;
        &:not(.no-underline) {
          border-color: $blue;
        }
        &:hover {
          color: $blue;
        }
      }

      .close {
        color: $black;
        &::before {
          color: $black;
        }
      }

      h1, h2 {
        color: $blue;
      }
    }
  }

  // Calendly iframe in the appointments modal
  .calendly {
    width: 100%;
    min-height: 500px;
  }

}