// Two Columns For Pages
.columns-wrap {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  @include break-out-of-padding($teensy-pad,$teensy-pad);
  .columns-item {
    position: relative; top: 0px; // Correct my baseline thing typography

    
    flex-basis: 100%;
    @include media-sm {
      flex-basis: 50%;
      max-width: none;
    }
    padding: 0 $teensy-pad;

    margin-bottom: 2*$lh;

  }
  &:not(.-first-wide) {
    .columns-item:nth-of-type(2n) {
      h2:after, h2:before {
        display: none;
      }
    }
  }

  &.-first-wide {
    .columns-item:first-child {
      @include media-sm {
        flex-basis: 100%;
      }
    }
    .columns-item:nth-of-type(2n+3) {
      h2:after, h2:before {
        display: none;
      }
    }
  }
}

