// Footer

$color-time: .15s;
$open-time: .15s;

.site-footer {
  position: relative;
  width: 100%;
  z-index: $z-footer;
  margin-top: $lh;
  @include clearfix;
  transition: transform $open-time $color-time;
  @include media-md {
    left: 0;
    bottom: 0;
    position: fixed;
    &.closed {
      transform: translateY(100%);
      transition: transform $open-time;
      .footer-tab {
        &, &:after, &:before {
          transition: background $color-time $open-time;
        }
        .footer-hole {
          transition: fill $color-time $open-time;
        }
        .footer-toggle {
          transition: color $color-time $open-time;
          &:before {
            transition: background $color-time $open-time;
          }
          &:after {
            transform: translateY(0);
            transition: transform $color-time $open-time ease-in, background $color-time $open-time;
          }
        }
      }
    }
  }

  // The part you click to open/close the footer
  .footer-tab {
    position: absolute;
    left: 0;
    height: $lh+2px;;
    width: 100%;
    bottom: calc(100% - 2px);
    transition: background $color-time;
    cursor: default;
    @include media-md {
      cursor: pointer;
    }
    &:before, &:after {
      content: ' ';
      position: absolute;
      width: calc((100% - 24px)/2);
      height: $lh+2px;
      transition: background $color-time;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
    .footer-hole {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 25px;
      height: 25px;
      transition: fill $color-time;
    }
    .icon-plus,.icon-minus {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .icon-minus {
      width: 9px;
      height: 2px;
      left: 8px;
    }
    .icon-plus {
      width: 9px;
      height: 9px;
      left: 8px;
    }
    .footer-toggle {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 100%;
      border: 0;
      transition: color $color-time;
      @include font-nb-mono;
      font-size: 18px;
      text-align: center;
      width: 25px;
      height: 25px;
      display: none;
      @include media-md {
        display: block;
      }
      &:focus {
        outline: 0;
      }
      &:after {
        content: ' ';
        position: absolute;
        left: -1px;
        top: 0px;
        width: 27px;
        height: 27px;;
        transform: translateY(100%);
        transition: transform $color-time ease-in, background $color-time;
        z-index: -10;
        border-radius: 100%;
      }
    }
  }

  a {
    text-decoration: underline
  }

  .description-block {
    padding-right: $lh;
    p{
      @include small-copy;
    }
  }

  .contact-form-block, .title-block, .fineprint-block, .social-block, .contact-block {
    p{
      @include smaller-mono;
    }
  }

  p.email-wrap {
    @include no-word-break;
    max-width: 100px;
    clear: both;
  }

  p.org {
    @include font-mono;
    font-size: 14px;
    top: -1px;
    max-width: 50px;
    margin-bottom: $lh;
    @include no-word-break;
  }

  .contact-form-block {  
    p.have-questions {
      min-width: 102px; // Prevent word wrap of "Have Questions?"
    }
    .contact-button {
      @include smaller-mono;
      
      width: 100%;
      // padding: 0;
        margin-top: $lh/4;
      max-height: 25px;
      @include min-screen(800px) {
        position: relative;
        margin-top: $lh/2;
        left: -6px;
      }
    }
  }
}

  // Positioning of footer blocks
  .site-footer {
    .footer-wrap {
      display: flex;
      flex-wrap: wrap;
      padding-left: $small-pad;
      padding-bottom: $lh;
      @include media-tiny {
        padding-left: calc((100% - 3 * #{$col})/2 );
      }
      @include media-sm {
        padding-left: calc((100% - 4 * #{$col})/2 );
      }
      @include min-screen(800px) {
        padding-left: 2 * $col;
      }
      @include media-lg {
        padding-left: 3 * $col;
      }
      @include media-huge {
        padding-left: 3 * $col-huge;
      }
    }
    .group-one, .group-two {
      position: relative;
      flex-basis: 3*$col;
      display: flex;
      flex-wrap: wrap;
      @include media-sm {
        flex-basis: 4*$col;
      }
    }
    .group-one {
      @include min-screen(800px) {
        order: 2;
        flex-basis: 2 * $col;
      }
      @include min-screen(1100px) {
        flex-basis: 4 * $col;
      }
      @include media-huge {
        flex-basis: 4 * $col-huge;
      }
      .title-block {
        flex-basis: 2 * $col;
        @include media-sm {
          flex-basis: 3 * $col;
        }
        @include min-screen(800px) {
          flex-basis: 2 * $col;
          order: 1;
        }
        @include media-huge {
          flex-basis: 2 * $col-huge;
        }
      }
      .fineprint-block {
        position: static;
        flex-basis: 2 * $col;
         @include min-screen(800px) {
          order: 3;
          margin-top: $lh;
        }
        @include min-screen(1100px) {
          position: static;
          margin-top: 0;
        }
        @include media-huge {
          flex-basis: 2 * $col-huge;
        }
      }
      .social-block {
        flex-basis: $col;
        @include screen(300px,340px){
          margin-left: -20px;
        }
        @include screen(420px,440px){
          margin-left: -20px;
        }
        @include screen(800px,1100px) {
            li.social-link:first-child { 
              margin-left:  -5px;
            }
        }
        @include min-screen(800px) {
          flex-basis: 2 * $col;
          order: 2;
          position: absolute;
          right: calc( 100% + #{$col} );
          min-width: 1 * $col;
          top: 4 * $lh;
        }
        @include min-screen(1100px) {
          position: static;
        }
        @include media-huge {
          flex-basis: 2 * $col-huge;
        }
      }
      .contact-block {
        flex-basis: 3 * $col;
        margin-bottom: $lh;
        @include media-sm {
          flex-basis: 4 * $col;
        }
        @include min-screen(800px) {
          flex-basis: 2 * $col;
          order: 2;
          margin-bottom: 0;
          // position: relative; 
          // left: -2 * $col;
        }
        @include min-screen(1100px) {
          // position: static;
          order: 4;
        }
        @include media-huge {
          flex-basis: 2 * $col-huge;
        }
      }
    }
    .group-two {
      @include min-screen(800px) {
        order: 1;
        flex-basis: 4 * $col;
      }
      @include min-screen(1200px) {
        flex-basis: 5 * $col;
      }
      @include media-huge {
        flex-basis: 5 * $col-huge;
      }
      .contact-form-block {
        flex-basis: $col;
        position: absolute;
        right: 0;
        bottom: 100%;
        @include screen(300px,340px){
          right: 20px;
        }
        @include screen(420px,440px){
          right: 20px;
        }
        @include min-screen(800px) {
          position: static;
          right: auto;
          bottom: auto;
          order: 2;
        }
        @include media-huge {
          flex-basis: $col-huge;
        }
      }
      .description-block {
        margin-top: 100px;
        flex-basis: 3 * $col;
        position: relative;
        @include media-sm {
          flex-basis: 4 * $col;
        }
        @include min-screen(800px) {
          flex-basis: 2 * $col;
          order: 1;
          margin-top: 0;
        }
        @include media-huge {
          flex-basis: 2 * $col-huge;
        }
        .cfp {
          position: absolute;
          width: $col;
          left: 0;
          bottom: calc(100% + #{$lh});
          @include min-screen(800px) {
            right: 100%;
            top: 0;
            bottom: auto;
            left: auto;
          }
          @include media-huge {
            width: $col-huge;
          }
          img {
            width: 50px;
            height: auto;
            position: relative;
            @include min-screen(800px) {
              top: 3px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
    .footer-block {
      float: left;
      display: inline-block;
      min-width: $col;
    }
  }