// Footer

    $color-time: .2s;
    $open-time: .2s;

.site-footer {
  min-width: 1500px; //TEMP HACK TO REMOVE WHEN RESPONSIVITY ADDED
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: $z-brand;
  @include clearfix;

  .footer-tab {
    position: absolute;
    left: 0;
    height: $lh;
    width: 100%;
    bottom: 100%;
    transition: background $color-time;
    cursor: pointer;
    .footer-toggle {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 100%;
      border: 0;
      transition: color $color-time;
      @include font-nb-mono;
      font-size: 18px;
      text-align: center;
      width: 25px;
      height: 25px;
      overflow: hidden;
      &:focus {
        outline: 0;
      }
      &:before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0%;
        width: 100%;
        height: 100%;
        z-index: -20;
      }
      &:after {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0%;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform $color-time ease-in, background $color-time;
        z-index: -10;
        // border-radius: 100%;
      }
    }
  }

  transition: transform $open-time $color-time;
  &.closed {
    transform: translateY(100%);
    transition: transform $open-time;
    .footer-tab {
      transition: background $color-time $open-time;
      .footer-toggle {
        transition: color $color-time $open-time;
        &:before {
          display: none;
        }
        &:after {
          transform: translateY(0);
          transition: transform $color-time $open-time ease-in, background $color-time $open-time;
          // border-radius: 0;
        }
      }
    }
  }

  a {
    text-decoration: underline
  }

  .footer-block {
    float: left;
    display: inline-block;
    padding-bottom: $lh;
  }

  .description {
    padding-right: $lh;
    p{
      @include small-copy;
    }
  }

  .contact-form, .add-info, .connect {
    p{
      @include small-nb-mono;
    }
  }

  .connect {
    .email-wrap {
      @include no-word-break;
      max-width: 100px;
      clear: both;
    }
  }

  p.org {
    @include font-mono;
    font-size: 14px;
    top: -1px;
    max-width: 50px;
    margin-bottom: $lh;
    @include no-word-break;
  }

  .contact-form {  
    .contact-button {
      @include small-nb-mono;
      margin-top: $lh/2;
      position: relative;
      left: -6px;
      width: 100%;
      padding: 0;
      top: 0;
      @include arrow-right(25px);
      max-height: 25px;
    }
  }
}


  // Old Grid Code
  .site-footer {
    .description {
      width: 2 * $col;
      margin-left: 2 * $col;
      @include min-screen(900px) {
        margin-left: 3 * $col;
      }
    }
    .contact-form {
      width: 1 * $col;
    }
    .add-info {
      width: 1 * $col;
      margin-left: 2 * $col;
    }
    .connect {
      width: 2 * $col;
      margin-left: 1 * $col;
    }
  }