// Forms


// Page Form Wrapper and Containing Forms

.form-wrap {
  position: relative;
  width: 5 * $col;
  left: -$col - $teensy-pad;
  margin-top: 3*$lh;
  padding: 1.75*$lh $col 5*$lh;
  @include media-sm {
    width: 6 * $col;
  }
  @include media-huge {
    width: 6 * $col-huge;
    left: calc( -#{$col} - #{$teensy-pad});
    padding: 1.75*$lh $col-huge 5*$lh;
  }
  .wpcf7-response-output {
    padding: 0 5px;
    border: 2px solid $blue;
    @include copy;
    line-height: 20px;
    margin: 4*$lh 0 0;
  }
  .wpcf7-not-valid-tip {
    color: $blue;
  }
  .ajax-loader, input[type="submit"] {
    display: none;
  }
  form {
    .form-accordian{ 
      transition: opacity 1s; 
    }
    &.sent {
      .wpcf7-response-output {
        margin-top: 0;
      }
      &.form-accordian{
        opacity: .5;
      }
    }
  }
  h3 {
    margin-bottom: $lh;
  }
  button {
    @include small-nb-mono;
    position: absolute;
    float: right;
    width: 25%;
    min-width: $col;
    padding: 0;
    @include arrow-right(25px);

  }
  fieldset {
    border: 0;
    border-bottom: 1px solid $white;
    padding: 0;
    position: relative;
    top: -$teensy-pad;
    p { margin-bottom: $lh/2; }
    margin-bottom: $lh * 2;
  }
  input[type="text"],input[type="email"], textarea {
    @include copy;
    line-height: $lh;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    height: $lh;
    border: 1px solid $white;
    background: $white;
    &:focus{
      border-bottom: 2px solid $blue;
      background: $true-white;
      outline: 0;
    }
  }
  input[type="text"] { top: -2px; }
  textarea {
    height: 6 * $lh;
    resize: none;
    margin-bottom: $lh/2;
  }
  legend {
    margin-bottom: $lh * .75;
  }
  .wpcf7-checkbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .wpcf7-list-item {
      margin: 0 0 $lh;
      flex-basis: 50%;
      padding: 0 $lh;
      position: relative;
      input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
      }
      .wpcf7-list-item-label:before {
        content: '';
        position: absolute;
        top: $teensy-pad;
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 30%;
        border: 1px solid $gray;
        // transition: border 0.2s;
      }
      input[type="checkbox"]:checked + .wpcf7-list-item-label:before {
        background: $blue;
      }
      label {
        cursor: pointer;
      }
    }
  }
  .contact-form-submit {
    position: relative;
    top: -$lh;
  }
}
