// Grid system

// Things outside of .main-area-wrap that depend on col-size:
@mixin columns($col-size) {

  // Main Area Wraps (everything in here can just use 25% as col-size)
  .main-area-wrap {
    margin-left: $col-size * 2;
    width: $col-size * 5;
    @include min-screen(900px) {
      margin-left: $col-size * 3;
    }
  }

  // Floater Images
  .floater-image {
    width: $col-size * 3;
    transform: translateY(-50%);
    @for $i from -2 through 15 {
      &[data-col="#{$i}"] {
        left: #{$i * $col-size};
      }
    }
  }




  // Lines 
  .lines .line {
    margin-left: calc( #{$col-size} - 1px);
  }
  .blinds .blind {
    width: $col-size;
  }
  .blinds.-content {
    left: 1 * $col-size;
    @include min-screen(900px) {
      left: 2 * $col-size;
    }
    width: 6 * $col-size;
  }
  .lines.-content {
    left: 1 * $col-size;
    @include min-screen(900px) {
      left: 2 * $col-size;
    }
  }

  // Footer
  .site-footer {
    .description {
      width: 2 * $col-size;
      margin-left: 3 * $col-size;
    }
    .contact-form {
      width: 1 * $col-size;
    }
    .add-info {
      width: 1 * $col-size;
      margin-left: 2 * $col-size;
    }
    .connect {
      width: 2 * $col-size;
      margin-left: 1 * $col-size;
    }
  }
}
@include columns(100px);
@include min-screen(1500px) {
  @include columns( 100vw / 15 );
}

// Wrappers
.main-area-wrap {
  left: 0;
  position: absolute;
}

// Two Columns For Pages
.columns-wrap {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  @include break-out-of-padding(3px,3px);
  .columns-item {
    position: relative; top: 0px; // Correct my baseline thing typography
    flex-basis: 50%;
    padding: 0 3px;

    &:not(.-first-wide) {
      &:nth-of-type(2n) {
        h2:after, h2:before {
          display: none;
        }
      }
      &:nth-of-type(2n+1) {
        h2:before {
          right: calc( (100% + 6px) * 1.5 - 3px - 2px);  // Sorry. For expanation of math, see first-line-dots() mixin
        }
        h2:after {
          left: calc( (100% + 6px) * 3.5 - 3px - 3px);  // Sorry. For expanation of math, see first-line-dots() mixin
        }
      }
    }
  
    &.-first-wide {
      &:first-child {
        flex-basis: 100%;
      }
      &:nth-of-type(2n+3) {
        h2:after, h2:before {
          display: none;
        }
      }
      &:nth-of-type(2n+2) {
        h2:before {
          right: calc( (100% + 6px) * 1.5 - 3px - 2px);  // Sorry. For expanation of math, see first-line-dots() mixin
        }
        h2:after {
          left: calc( (100% + 6px) * 3.5 - 3px - 3px);  // Sorry. For expanation of math, see first-line-dots() mixin
        }
      }
    }

  }
}

