// Header

.site-header {
  ul {
    @include delistify;
  }

  .brand {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-brand;
    margin: 0;
    .btf-logo {
      position: absolute;
      width: 70px;
      height: auto;
      left: 10px;
      top: 8px;
      @include media-md {
        left: 0;
        width: calc( #{$col} + 1px);
      }
      @include media-lg {
        top: 25px;
        left: $col;
      }
      @include media-huge {
        width: $col-huge;
        left: $col-huge;
      }
    }
  }

  .mobile-nav-open {
    position: fixed;
    top: 15px;
    right: 5px;
    z-index: $z-hamburger;
    border: 0;
    background: transparent;
    @include media-md {
      display: none;
    }
    .hamburger {
      width: 20px;
      height: 17.5px;
    }
  }

  .site-nav {
    z-index: $z-nav;
    width: 100%;
    overflow: hidden;
    &, .lines {
      height: 50px;
      @include media-md {
        height: 80px;
      }
      @include min-screen(900px) {
        height: 95px;
      }
    }
    position: fixed;
    top: 0;
    overflow: hidden;
    @include font-mono;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0;
    ul#menu-main-menu { 
      display: none;
      position: relative;
      top: 0;
      margin: 0;
      left: 2 * $col;
      @include media-md {
        display: block;
      }
      @include media-lg {
        left: 3 * $col;
      }
      @include media-huge {
        left: 3 * $col-huge;
      }
    }
    li {
      position: relative;
      float: left;
      width: $col;
      padding: 10px $teensy-pad 0;
      @include media-lg {
        padding: 25px $teensy-pad 0; 
      }
      @include media-huge {
        width: $col-huge;
      }
      a {
        max-width: 100px;
        &:hover {
          text-decoration: underline;
        }
      }
      a:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
      }
      &.current-menu-item a:before, a:hover:before {
        height: 5px;
      }
    }
    .menu-item-has-children {
      float: left;
      padding: 0;
      a { display: none }
      li {
        position: static;
        width: 100%;
        a { display: block; }
        &:not(:first-child) {
          padding-top: 0;
          &:before {
            content: '–';
            display: block;
          }
        }
      }
    }
  }
}

.popup {
  &.holding-mobile-nav .body-wrap {
    position: fixed;
  }
  ul#menu-main-menu {
    position: absolute;
    top: $lh*4;
    width: $col;
    @include media-tiny{
      left: auto;
      right: 0;
    }
    li:not(.menu-item-has-children) {
      padding-left: $teensy-pad;
      @include small-mono;
      font-size: 12px;
      margin-bottom: 1.5*$lh;
    }
    &, ul {
      @include delistify;
    }
    a {
      text-decoration: none;
      border-bottom: 0;
      &:before{
        @include font-regular;
        font-size: 12px;
        content: '>';
        position: absolute;
        right: calc(100% + #{$teensy-pad});
      }
      &:hover {
        text-decoration: underline;    
        &:before{
          right: calc(100% + 1px);
        }
      }
    }
    .menu-item-has-children {
      position: relative;
      top: 5px;
      padding: 0;
      & > a { display: none }
    }
  }
}