// Header

.site-header {

  //Why all this crazy nested wrapping?
  //Each element needs a different pos-fixed element because they have different Z's.  This is wrapped around a .main-area-wrap, so that the elements could be positioned relative to the main content area size rather than full viewport.
  .brand-wrap, .site-nav-wrap {
    position: fixed;
    width: 100%;
  }
  .brand-wrap {
    z-index: $z-brand;
  }
  .site-nav-wrap {
    z-index: $z-nav;
    height: 120px;
  }

  ul {
    @include delistify;
  }

  .brand {
    position: absolute;
    width: calc( #{$col-inwrap} + 1px);
    top: 8px;
    left: calc( (-2 * #{$col-inwrap}) - 1px );
    z-index: $z-brand;
    margin: 0;
    @include media-md {
      top: 23px;
    }
    .btf-logo {
      width: 100%;
      height: auto;
    }
  }

  // Nav
  .site-nav {
    position: relative;
    top: 0;
    width: 100%;
    @include font-mono;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0;
    ul { 
      margin: 0;
    }
    li {
      position: relative;
      float: left;
      width: $col-inwrap;
      padding: 10px 3px 0;
      @include media-md {
        padding: 25px 3px 0; 
      }
      a {
        max-width: 100px;
        &:hover {
          text-decoration: none;
        }
      }
      a:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
      }
      &.current-menu-item a:before, a:hover:before {
        height: 5px;
      }
    }
    .menu-item-has-children {
      position: relative;
      float: left;
      padding: 0;
      a { display: none }
      li {
        position: static;
        width: 100%;
        a { display: block; }
        &:not(:first-child) {
          padding-top: 0;
          &:before {
            content: '–';
            display: block;
          }
        }
      }
    }
  }  
}
