
.lines, .blinds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: $z-lines;
  overflow: hidden;
  &.-hidden{
    pointer-events: none;
  }
}

.line, .blind {
  position: absolute;
  top: -5px;
  height: calc( 100% + 10px );
  // Determine position left
  @for $i from 1 through 17 {
    &:nth-of-type(#{$i}) {
      left: ($i - 1) * $col;
      @include media-huge {
        left: ($i - 1)  * $col-huge;
      }
    }
  }
}

.line {
  width: 1px;
  opacity: .5;
}

.blind {
  width: $col;
  @include media-huge {
    width: $col-huge;
  }
  transform-origin: left;
}

// Positioning of all blinds that span the whole page (as opposed )
.site-nav > .lines, 
body > .lines, 
body > .blinds,
.search-popup > .blinds,
.search-popup > .lines,
.mobile-image >.blinds {
  .line, .blind {
    margin-left: -90px;
    @include media-tiny {
      margin-left: calc((100% - 3 * #{$col})/2 - 1 * #{$col}); // This is an obnoxious way of centering
    }
    @include media-sm {
      margin-left: calc((100% - 4 * #{$col})/2 - 2 * #{$col}); // This is an obnoxious way of centering
    }
    @include media-md { 
      margin-left: 0; 
    }
  }
}

// Specific sets of lines n blinds
body > .lines,
.site-nav > .lines {
  &.page-transitioning {
    z-index: $z-lines-page-transitioning;
  }
}

body > .blinds {
  z-index: $z-page-blinds;
}

.floater-image .lines {
  z-index: $z-floater-image-lines;
}

.search-popup > .lines {
  z-index: $z-search-lines;
}

.search-popup > .blinds {
  z-index: $z-search-blinds;
}