
.lines, .blinds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: $z-lines;
  overflow-x: hidden;
  // background: rgba(red,.5);
  &.-hidden{
    pointer-events: none;
  }
}
.line, .blind {
  position: absolute;
  top: 0;
  height: 100%;
  // Determine position left
  @for $i from 1 through 17 {
    &:nth-of-type(#{$i}) {
      left: ($i - 1) * $col;
      @include media-huge {
        left: ($i - 1)  * $col-huge;
      }
    }
  }
}
.line {
  width: 1px;
  opacity: .5;
}
.blind {
  width: $col;
  @include media-huge {
    width: $col-huge;
  }
}

// Positioning of global blinds
.site-nav > .lines, 
body > .lines, 
body > .blinds,
.search-popup > .blinds,
.search-popup > .lines,
.mobile-image >.blinds {
  .line, .blind {
    margin-left: -90px;
    @include media-tiny {
      margin-left: calc((100% - 3 * #{$col})/2 - 1 * #{$col});
    }
    @include media-sm {
      margin-left: calc((100% - 4 * #{$col})/2 - 2 * #{$col});
    }
    @include media-md { 
      margin-left: 0; 
    }
  }
}

body > .lines,
.site-nav > .lines {
  &.page-transitioning {
    z-index: $z-lines-page-transitioning;
  }
}
body > .blinds {
  z-index: $z-page-blinds;
}

.floater-image .lines {
  z-index: $z-floater-image-lines;
}

.search-popup > .lines {
  z-index: $z-search-lines;
}
.search-popup > .blinds {
  z-index: $z-search-blinds;
}