
//Popup

.popup {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  z-index: $z-popup;

  left: 10px;
  @include media-tiny {
    left: calc((100% - 3 * #{$col})/2);
  }
  @include media-sm {
    left: calc((100% - 4 * #{$col})/2);
  }
  @include media-md { 
    left: $col; 
    right: auto;
    width: 6 * $col;
  }
  @include media-lg { 
    left: 2*$col; 
  }
  @include media-huge { 
    left: 2*$col-huge; 
    width: 6 * $col-huge;
  }


  .lines{
    z-index: $z-popup-lines;
  }
  .blinds{
    z-index: $z-popup-blinds;
  }

  &.showing {
    height: 100%;
  }

  a {
    border-bottom: none;
    text-decoration: underline;
  }

  .body-wrap {
    z-index: $z-popup-content;
    margin-right: 0;
    margin-top: 0;
    padding-top:  $lh * 6;

    margin-left: 0;
    @include min-screen(600px){
      margin-left: $col;
    }
    @include media-md {
      padding-top:  $lh * 9.25;
    }
    @include media-huge {
      margin-right: 0;
      margin-left: $col-huge;
      width: 4*$col-huge;
    }
    h1, h2 {
      &:before, &:after {
        display: none;
      }
    }
  }

  .description {
    @include dash-before($lh*1.5);
  }

  .next-content {
    @include small-mono;
    @include arrow-right(57px);
    min-width: $col;
    width: $col;
    position: relative;
    left: $col;
    @include media-sm {
      left: 2*$col;
    }
    @include media-md {
      position: absolute;
      right: auto;
      top: $lh*5.25;
      left: calc( 100% + #{$teensy-pad} );
    }
    @include media-huge {
      width: $col-huge;
    }
  }

  .close {
    @include big-title;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    right: $small-pad*2;
    @include media-tiny{
      right: 0;
    }
    @include media-md {
      top: $lh * 5;
    }
    &:before {
      content: 'Close';
      @include small-mono;
      @include no-word-break;
      position: absolute;
      top: $lh/2 - 2px;;
      right: 100%;
      display: none;
      @include media-md {
        display: block;
      }

    }
  }
}

.content-to-popup {
  @extend .sr-only
}

.open-popup {
  cursor: pointer;
}

