// Recent Posts Moduleπ
.recent-posts {
  position: relative;
  width: 100%;
  z-index: 0;
  padding: 0;
  margin-top: 2 * $lh;
  h4 {
    // @include small-title;
    margin-top: 2*$lh;
    @include small-mono;
    @include dash-after(17px);
    margin-bottom: 33px;
  }
  ul.posts {
    list-style: none;
  }
  li.post {
    margin-bottom: $lh*2;
  }
  h5 {
    @include small-title; 
    @include dash-after($lh);
    @include min-screen(800px) {
      margin-bottom: 23px;
    }
    @include word-break;
  }
  p {
    @include small-mono;
    margin-bottom: 0;
    &.category a {
      text-decoration: underline;
    }
  }
}