// Accessibility

// http://www.456bereastreet.com/archive/200711/screen_readers_sometimes_ignore_displaynone/
.hidden {
  display:none;
  visibility:hidden;
}

// https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
.screen-reader-text,
.sr-only, 
.visually-hidden {
  @include visually-hide;
}
body:hover {
  .screen-reader-text,
  .sr-only, 
  .visually-hidden {
    a, input, button { display: none !important; }
  }
}