// COLOR SCHEME
// Because of the alternating color scheme, all the color information is stored here.  This helps accomodate the DRY mixin structure below.

// Color Variables
$true-white: #fff;
$white: #e8e8e8;
$gray: #c7c7c7;
$blue: #006efa;
$black: #1e1e1e;
$lite-blue: #4092fb;
$brand-primary: $white;
$brand-secondary: $blue;

// A function to pick one option or another (to be used for color)
@function choose($option_true,$option_false,$choice) {
  @if $choice {
    @return $option_true;
  } @else {
    @return $option_false;
  }
}

// The scheme template, will be called below with which $scheme is appropriate for the page
@mixin color-scheme ($scheme) {

  // Some choices we'll use frequently
  $text: choose($black,$white,$scheme);
  $anti-text: choose($black,$white,not $scheme);
  $bg: choose($white,$blue,$scheme);
  $anti-bg: choose($white,$blue,not $scheme);
  $title: choose($blue,$black,$scheme);
  $anti-title: choose($blue,$black,not $scheme);

  // Base Colors
  color: $text;
  background: $bg;

  // Headings
  h1,h4,.step h2 {
    color: $title;
  }
  h1, h2,.step h2 {
    &:before, &:after {
      background: $black; // If always the same color, just specify directly.
    }
  }

  // hr
  hr {
    background: $text;
  }

  // Body-Wrap specific stlying (particularly links)
  .body-wrap {

    // Normal links
    a {
      color: $text;
      &:hover {
        color: $title;
      }
      &:not(.no-underline) { border-bottom: 1px solid $title; }
    }

    // Category Links
    a.category, .category a {
        color: $title;
        border-bottom: 0;
        text-decoration: underline;
        &:hover {
          color: $text;
          border-bottom: 0;
        }
    }

    // Heading links
    a h1, a h2, h1 a, h2 a:not(.no-underline) {
      border-bottom: 0;
      @include gradient-underline($bg,$title,90%, calc(90% + 1px));
    }

  }

  // Popups -- We have some different colors we need here
  .popup .body-wrap {

    // Base styles
    a:hover {
      color: $anti-title;
    }
    &,h1,h2,h3,h4,h5,h6,p,a,*:after,*:before{
      color: $white;
    }

    // UI
    .arrow.-white:hover {
      background: choose($black,$white,$scheme);
      color: choose($white,$black,$scheme);
      .arrowhead {
        fill: choose($black,$white,$scheme);
      }
    }
    .close, .close:before {
      color: $white;
    }
  }

  // Search Popup
  .search-popup .body-wrap {
    &,h1,h2,h3,h4,h5,h6,p,a,*:after,*:before{
      color: $white;
    }
  }
  &.search {
    .page-header .search-field {
      color: $title;
      &:hover {
        background: rgba($black,.2);
      }
    }
    .highlight {
      background: choose(rgba($black,.08),rgba($black,.5),$scheme);
      color: choose($blue,$white,$scheme);
    }
  }

  // Forms
  .form-wrap {
    background: $true-white;
    color: $black;
    hr {
      background: $white;
    }
    a {
      color: $black;
      &:not(.no-underline) { border-bottom: 1px solid $blue; }
      &:hover {
        color: $blue;
      }
    }
    .arrow.-black:hover {
      background: $white;
      .arrowhead {
        fill: $white;
      }
    }
  }

  // Lines & Blinds
  .line {
    background: choose($gray,$lite-blue,$scheme);
  }
  .lines.page-transitioning .line {
    background: choose($gray,$lite-blue,not $scheme);
  }
  .blinds .blind {
    background: $bg;
  }
  .blinds.-page .blind {
    background: $anti-bg;
  }
  .popup {
    .line {
      background: choose(rgba($gray,.25),$lite-blue,not $scheme);
    }
    .blind {
      background: $title;
    }
  }
  .popup.holding-mobile-nav, .search-popup {
    a:hover {
      color: $white;
    }
    .blind {
      background: $black;
    }
    .line {
      background: rgba($gray,.25);
    }
  }

  // Nav
  .site-nav {
    .current-menu-item a{
      color: $title;
    }
    a {
      color: $text;
      &:before {
        background: $black;
      }
    }
  }

  .site-nav-bg {
    background: $bg;
  }
  
  .hamburger {
    fill: $text;
  }

  .icon-search {
    fill: $text;
  }

  // Logo
  .btf-logo {
    fill: $text;
    a { background: transparent; }
  }

  // Footer
  .site-footer {
    background: $anti-bg;
    &, a { 
      color: $anti-text; 
    }
    a:hover { 
      color: $anti-title; 
    }

    // The open/close footer nipple
    .footer-tab {
      &:after, &:before {
        background: $anti-bg;
      }
      .footer-hole { // When visible
        fill: $anti-bg;
      }
      .footer-toggle {
        background: transparent;
        fill: $text;
        &:before, &:after {
          background: $anti-bg;
        }
      }
    }
    @include media-md {
      &.closed {
        .footer-tab {
          &:after, &:before {
            background: $black;
          }
          .footer-toggle {
            fill: $white;
            &:after, &:before {
              background: $black;
            }
          }
          .footer-hole {
            fill: $black;
          }
        }
      }
    }
    .btf-full-logo {
      fill: $anti-text;
    }
  }

  // Arrows
  .arrow.-white {
    background: $true-white;
    color: $title;
    .arrowhead {
      fill: $true-white;
    }
    &:hover {
      background: $title;
      color: $true-white;
      .arrowhead {
        fill: $title;
      }
    }
  }
  .arrow.-black {
    background: $black;
    color: $white;
    fill: $white;
    .arrowhead {
      fill: $black;
    }
    &:hover {
      background: $true-white;
      color: $black;
      fill: $black;
      .arrowhead {
        fill: $true-white;
      }
    }
  }

  // Archives
  ul.categories {
    &:before, &:after {
      color: $black;
    }
  }

  // Recent Posts
  .recent-posts {
    .category a {
      color: $title;
      &:hover {
        color: $text;
      }
    }
  }

  // Services Page
  .popup li.pricetag {
      &.highlight {
        background: $white;
        p, p:before {
          color: choose($blue,$black,$scheme);
        }
      }
    .number, .unit,.number:before {
      color: choose($black,$blue,$scheme);
    }
  }

  // Home Page
  .start-line {
    background: $anti-bg;
  }
  .start-button {
    color: $blue;
  }
}


// So now we call
body {
  &.white-color-scheme {
    @include color-scheme(true); // Yields the first choice for each choose function
  }
  &.blue-color-scheme {
    @include color-scheme(false); // Yields the second choice for each choose function
  }
}