// Mixins

// Clearfix
@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

// Clear lists
@mixin delistify {
  list-style: none;
  padding-left: 0;
}

// Decorations
@mixin dot {
  position: absolute;
  content: ' ';
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: $black;
}
@mixin dash {
  position: absolute;
  content: '–';
  @include font-bold;
  color: $black;
}
@mixin dash-before($offset) {
    &:before {
      @include dash;
      top: -1 * $offset; 
      left: 0px;
    }
    position: relative;
}
@mixin dash-after($offset)  {
    &:after {
      @include dash;
      bottom: -1 * $offset;
      left: 0px;
    }
    position: relative;
}
@mixin double-dash($top,$bot) {
  @include dash-before($top);
  @include dash-after($bot);
}

@mixin arrow-right($height) {
  height: $height;
  position: relative;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: inline-block;
  border: 0;
  &:after {
    content: ' ';
    height: $height * .707107; //  h/sqrt(2); HIGH SCHOOL TRIG, BITCH!!!
    width: $height * .707107; //  h/sqrt(2);
    transform: translate(50%,-50%) rotate(45deg) ;
    position: absolute;
    top: 50%;
    right: 0;
    background: inherit;
    border-top-right-radius: 3px;
    z-index: -1;
  }
}

@mixin arrow-left($height) {
  height: $height;
  position: relative;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: inline-block;
  border: 0;
  &:after {
    content: ' ';
    height: $height * .707107; //  h/sqrt(2);
    width: $height * .707107; //  h/sqrt(2);
    transform: translate(-50%,-50%) rotate(45deg) ;
    position: absolute;
    top: 50%;
    left: 0;
    background: inherit;
    border-bottom-left-radius: 3px;
    z-index: -1;
  }
}

@mixin first-line-dots($dist-to-baseline) {
  &:before{
    @include dot;
    top: $dist-to-baseline;
    right: calc( (100% + 6px) * 1.25 - 3px - 2px); 
    // Sorry. 
    // (100% + 6px) : full width of content (correcting for container)
    // * 1.25  : we want 125% of that
    // - 3px to correct for the padding that displaces the origin
    // - 2px to center our 5px diameter dot (2px exposed, 1px covered by line, 2px exposed)
    // And still rounding errors sometimes. Damn. I wish the
  }
  &:after{
    @include dot;
    top: $dist-to-baseline;
    left: calc( (100% + 6px) * 1.75 - 3px - 3px);  // See above.  Exception: Last number is 3px to center due to how browser rounds
  }
}

@mixin break-out-of-padding($padding-left, $padding-right) {
  position: relative;
  left: -1 * $padding-left;
  width: calc(100% + #{$padding-left} + #{$padding-right});
}


// Responsive mixins by Andy Richardson (@andimal): https://github.com/andimal/sass-responsive-mixin-madness
@mixin media-xs() {
  @media screen and (max-width: $breakpoint-small - 1) {
    @content;
  }
}
@mixin media-sm() {
  @media screen and (min-width: $breakpoint-small) {
    @content;
  }
}
@mixin media-md() {
  @media screen and (min-width: $breakpoint-medium) {
    @content;
  }
}
@mixin media-lg() {
  @media screen and (min-width: $breakpoint-large) {
    @content;
  }
}

// On-the fly media-queries
@mixin screen($res-min, $res-max) {
  @media screen and (min-width: $res-min) and (max-width: $res-max) {
    @content;
  }
}
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}
