// Typography


// Font Faces
// @font-face {
//   font-family: "NB International Mono";
//   src: url(../fonts/NB_International_Pro_Mono.otf);
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: "NB International Regular";
  src: url(../fonts/NB_International_Pro_Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NB International Bold";
  src: url(../fonts/NB_International_Pro_Bold.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NB International Italic";
  src: url(../fonts/NB_International_Pro_Italic.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NB International Bold Italic";
  src: url(../fonts/NB_International_Pro_Bold_Italic.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BTF Mono";
  src: url(../fonts/BTF_Mono.otf);
  font-weight: normal;
  font-style: normal;
}

// Font Mixins
// @mixin font-mono {
//   font-family: "NB International Mono", monospace;
//   font-weight: normal;
//   font-style: normal;
// }
@mixin font-regular {
  font-family: "NB International Regular", sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin font-bold {
  font-family: "NB International Bold", sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin font-italic {
  font-family: "NB International Italic", sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin font-bold-italic {
  font-family: "NB International Bold Italic", sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin font-mono {
  font-family: "BTF Mono", monospace;
  font-weight: normal;
  font-style: normal;
}


// Hide fonts while loading from Typekit
.wf-loading {
  visibility: hidden;
}

body { //Defaults
  line-height: 20px;
  @include font-regular
}

@mixin big-title {
  @include font-mono;
  line-height: 50px;
  font-size: 48px;
  position: relative;
  top: -10px; // 0-10 (basline adjustment - top of line adjustment)
  margin-bottom: ( $lh * 2 ) - 15px; //Desired margin - amount of blank space already following the text within the line-height
}

@mixin small-title {
  @include font-bold;
  font-size: 18px;
  line-height: 20px;
  position: relative;
  margin-bottom: $lh - 5px; //Desired margin - amount of blank space already following the text within the line-height
}

@mixin copy {
  font-size: 12px;
  letter-spacing: 0.02em;
  position: relative;
  top: -3px;  // 2-5 (basline adjustment - top of line adjustment)
  margin-bottom: $lh - 10px; //Desired margin - amount of blank space already following the text within the line-height
  em {
    @include font-italic;
  }
  strong {
    @include font-bold;
  }
  em strong, strong em {
    @include font-bold-italic;
  }
}

@mixin small-copy {
}


@mixin small-mono {
  @include font-mono;
  font-size: 10px;
  position: relative;
  top: -4px; // 1-5 (basline adjustment - top of line adjustment)
}