// Variables


// Colors
$white: #fff;
$near-white: #e8e8e8;
$gray: #c7c7c7;
$blue: #006efa;
$near-black: #1e1e1e;
$black: #1e1e1e;
$lite-blue: #4092fb;

// Brand Swatches
$brand-primary: $black;
$brand-secondary: $white;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1000px;
$breakpoint-huge: 1200px;
$breakpoint-nav: 1050px;

// Z indexes;
$z-brand: 30;
$z-lines: 20;
$z-nav: 10;
$z-floater-image: 5;
$z-ajax-swap: 0;

// Sizes
$grid-width: 100px;