// Variables

// See color-scheme for colors

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1000px;
$breakpoint-huge: 1200px;
$breakpoint-nav: 1050px;

// Z indexes;
$z-lines-page-transitioning: 90;
$z-page-blinds: 80;
$z-revealed-content: 70;
$z-content-lines: 60;
$z-content-blinds: 50;
$z-overlay: 40;
$z-post-nav: 30;
$z-brand: 20;
$z-nav: 10;
$z-nav-lines: 20;
$z-nav-background: -10;
$z-lines: -10;
$z-floater-image: -15;

// Sizes
$col-inwrap: 20%;

// Line Height
$lh: 20px;