// Variables

// See color-scheme for colors

// Breakpoints
$breakpoint-tiny: 320px;
$breakpoint-small: 420px;
$breakpoint-medium: 800px;
$breakpoint-large: 900px;
$breakpoint-huge: 1500px;

// Z indices
$z-lines-page-transitioning: 900;
$z-page-blinds: 800;
$z-search: 770;
$z-search-lines: 760;
$z-search-blinds: 750;
$z-popup-content: 700;
$z-popup-lines: 550;
$z-popup-blinds: 500;
$z-popup: 500;
$z-overlay: 400;
$z-post-nav: 300;
$z-brand: 200;
$z-footer: 200;
$z-hamburger: 200;
$z-lets-start: 195;
$z-recent-posts: 190;
$z-dots: 175;
$z-floater-image-lines: 160;
$z-floater-image-blinds: 155;
$z-floater-image: 150;
$z-nav: 100;
$z-category-nav: 90;
$z-lines: -100;
$z-inline-image: -150;

// Sizes
$col: 100px; // Mostly always the column size on sane screens
$col-huge: 100vw / 15; // Columns at breakpoint-huge
$teensy-pad: 5px; // Very small pad used to keep content of off lines of columns
$small-pad: 10px; // A padding used for mobile sizes
$lh: 20px; // Line Hieght