# BEGIN redirects
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !\.well-known
RewriteCond %{HTTP_HOST} !^brianthompsontax.com [NC]
RewriteCond %{HTTP_HOST} !^brianthompsontax.opalstacked.com [NC]
RewriteRule ^(.*)$ https://brianthompsontax.com/$1 [R=301,L]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
