# BEGIN redirects
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !\.well-known
RewriteCond %{HTTP_HOST} !^btfinancial.com [NC]
RewriteCond %{HTTP_HOST} !^stage.btfinancial.com [NC]
RewriteCond %{HTTP_HOST} !^btf.localhost [NC]
RewriteCond %{HTTP_HOST} !^brian-thompson.sage [NC]
RewriteRule ^(.*)$ https://btfinancial.com/$1 [R=301,L]

RewriteRule ^post/([0-9]+).*$ /posts/$1/ [R=301,L]
RewriteRule ^tagged/(.*)$ /posts/tag/$1/ [R=301,L]
# END redirects

# BEGIN speedups
FileETag none
<IfModule mod_expires.c>
ExpiresActive on
ExpiresByType application/javascript "access plus 6 months"
ExpiresByType image/jpg "access plus 6 months"
ExpiresByType image/jpeg "access plus 6 months"
ExpiresByType image/gif "access plus 6 months"
ExpiresByType image/png "access plus 6 months"
ExpiresByType image/svg+xml "access plus 6 months"
ExpiresByType text/css "access plus 6 months"
</IfModule>
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>
# END speedups

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress